<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="primer-caso" href="/primer-caso">
      <ion-icon class="tab-icon" src="assets/icon/home.svg"></ion-icon>
      <ion-label>Primer caso</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="segundo-caso" href="/segundo-caso">
      <ion-icon class="tab-icon" src="assets/icon/folder.svg"></ion-icon>
      <ion-label>Segundo caso</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tercer-caso" href="/tercer-caso">
      <ion-icon class="tab-icon" src="assets/icon/user.svg"></ion-icon>
      <ion-label>Tercer caso</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
